@charset "UTF-8";

@font-face {
    font-family: 'Relogio Clock';
    src: url(fontes/DS-DIGI.TTF) format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 600px) {

    
    p#temporizador {
        text-align: center;
        font-family: 'Relogio Clock';
        font-size: 3.5em;
        margin-top: 40%;
        font-weight: 590;
    }

    section#botoes {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-top: 3em;
    }


    

    button {
        padding: 20px;
    }

    button#iniciar {
        width: 33%;
        background-color: green;
        color: white;
        border: none;
        border-radius: 3px;
    }

    

    button#finalizar {
        width: 33%;
        background-color: red;
        color: white;
        border: none;
        border-radius: 3px;
    }


    section#botao3 {
        text-align: center;
        margin-top: 30px;
    }


    button#parar {
        width: 33%;
        background-color: rgb(11, 151, 221);
        color: white;
        border: none;
        border-radius: 3px;
    }
}


@media (min-width: 601px) and (max-width: 768px) {
    p#temporizador {
        text-align: center;
        font-family: 'Relogio Clock';
        font-size: 9em;
        margin-top: 30%;
    }

    section#botoes {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-top: 3em;
    }

    button {
        padding: 33px;
    }

    button#iniciar {
        width: 33%;
        background-color: green;
        color: white;
        border: none;
        border-radius: 3px;
    }


    button#finalizar {
        width: 33%;
        background-color: red;
        color: white;
        border: none;
        border-radius: 3px;
    }


    section#botao3 {
        text-align: center;
        margin-top: 30px;
    }
    

    button#parar {
        width: 33%;
        background-color: rgb(11, 151, 221);
        color: white;
        border: none;
        border-radius: 3px;
    }
}


@media (min-width: 769px) and (max-width: 992px) {
    p#temporizador {
        text-align: center;
        font-family: 'Relogio Clock';
        font-size: 9em;
        margin-top: 20%;
        
    }

    section#botoes {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-top: 3em;
    }

    button {
        padding: 33px;
    }

    button#iniciar {
        width: 33%;
        background-color: green;
        color: white;
        border: none;
        border-radius: 3px;
    }


    button#finalizar {
        width: 33%;
        background-color: red;
        color: white;
        border: none;
        border-radius: 3px;
    }


    section#botao3 {
        text-align: center;
        margin-top: 30px;
    }
    

    button#parar {
        width: 33%;
        background-color: rgb(11, 151, 221);
        color: white;
        border: none;
        border-radius: 3px;
    }
}


@media (min-width: 993px) {
    p#temporizador {
        text-align: center;
        font-family: 'Relogio Clock';
        font-size: 10em;
        margin-top: 10%;
    }
    
    section#botoes {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-top: 3em;
    }
    
    button {
        padding: 33px;
    }
    
    button#iniciar {
        width: 25%;
        background-color: green;
        color: white;
        border: none;
        border-radius: 3px;
    }
    
    
    button#finalizar {
        width: 25%;
        background-color: red;
        color: white;
        border: none;
        border-radius: 3px;
    }


    section#botao3 {
        text-align: center;
        margin-top: 30px;
    }
    

    button#parar {
        width: 33%;
        background-color: rgb(11, 151, 221);
        color: white;
        border: none;
        border-radius: 3px;
    }
    
}


span#timer {
text-align: right;
}


button#iniciar:hover {
    background-color: rgb(0, 101, 0);
}


button#finalizar:hover {
    background-color: rgb(196, 0, 0);
}

button#parar:hover {
    background-color: rgb(8, 127, 187);
}